/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #FFFDD0; /* Cream background */
    color: #5D4037; /* Brown text color */
    margin: 0;
    padding: 0;
}
.logo {
        width: 100px; /* Set the width */
        height: 100px; /* Set the height */
        border-radius: 50%;
    }


header {
    background-color: #5D4037; /* Brown header background */
    color: #FFFDD0; /* Cream text color */
    padding: 20px;
    text-align: center;
   
}

.header1 .navbar {
    display: flex;
    justify-content: space-between;
    background-color: #cba3a3; /* Lighter brown for navigation */
    padding: 10px;
    text-align: center;
    margin: 0;
}
.navbar a:hover{
color: aqua;

}


nav a {
    color: #FFFDD0; /* Cream text color */
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    padding: 20px;
}

.selection{
    display: grid;
}
/* Gallery Styles */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery img {
    width: 30%;
    margin: 10px 0;
    border-radius: 10px;
}

/* Footer Styles */
footer {
    background-color: #5D4037; /* Brown footer background */
    color: #FFFDD0; /* Cream text color */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}